.app {
     display: flex;
     flex-direction: row;
     gap: 5rem;
     justify-content: space-evenly;
     margin: 2rem;
     height: 100%;
     max-height: calc(100vh - 4rem);

     @media screen and (max-width: 990px) {
          margin: 1.5rem;
          justify-content: space-evenly;
     }
     @media screen and (max-width: 775px) {
          flex-direction: column;
          justify-content: space-between;
          gap: 1rem;
     }
}

@media (prefers-reduced-motion: no-preference) {
     .App-logo {
          animation: App-logo-spin infinite 20s linear;
     }
}

@keyframes App-logo-spin {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}
